<li>         
    <p>
      <small>
      <% if(locals.user && (comment.user.id==locals.user.id || post.user._id == locals.user.id )){%>
        <a href="/comments/delete/<%= comment.id%>">Delete Comment</a>
        <%}%>
      </small>
      <%= comment.content%>
      <br />
      <small> <%= comment.user.name%> </small>
    </p>
  </li>