
   
    <h1>
        home page
    </h1>
    <section>
        <h3>post here</h3>
        <form action="/user/post" method="POST">
            <textarea name="content" id="post" cols="30" rows="5"></textarea>
            <button type="submit">post</button>
        </form>
    </section>
    
 