<link rel="stylesheet" href="/CSS/signIn.css">
<div
id="form-container">
<div id="sign-in">
      <form action="/users/create-session" method="POST"> 
            <input type="email" name="email" placeholder="Email.."required><br><br>
            <input type="password" name="password" required placeholder="Password.."><br><br>
            <button type="submit" id ="button">Sign-in</button>
      </form>
</div>
</div>