
    
<form action="/users/create" method="POST">
      <input type="text"  name="name" required placeholder="enter your name"><br><br>
      <input type="email" name="email" required placeholder="enter your email"><br><br>
      <input type="password" name="password" required placeholder="password"><br><br>
      <input type="password" name="confirm_password" required placeholder="confirm password"><br><br>
      <input type="submit" value="Sign-Up">



</form>
