body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body #header-style {
  margin-bottom: 40px;
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

body #header-style ul li {
  list-style: none;
  display: inline;
}

body #layouts {
  text-align: center;
  height: 100%;
}

body #layouts #sign-in-form {
  padding-top: 40px;
  position: relative;
  left: 40%;
  width: 300px;
  height: 200px;
  border: 1px solid  brown;
}

body #layouts #sign-in-form input {
  height: 30px;
  width: 80%;
  outline: none;
  padding: 2px;
  font-family: monospace;
}

body #layouts #sign-in-form input #submit {
  width: 40px;
}

body #footer-style {
  width: 100%;
  height: 80px;
  position: relative;
  bottom: 0px;
  background-color: gray;
}
